<!-- <h1>New Menu</h1> -->
<br><br><br>
<%= button_to "Back", menus_path, :method => "get", :class => "btn btn-default", :style => "margin-left:20px" %>
<br>
<%= render 'form' %>
<!-- 
<%= link_to 'Back', menus_path %> -->

