
<div align="center">
	<% page_header 'Your Order History'%>
	<% if defined?(@checkouts) %>
	<div class = "border-form-div" align="center" style="margin-top:-5px">
		<table class = "table table-bordered">
			<tr>
				<th>Restaurant</th>
				<th>Amount</th>
			</tr>
			<% @checkouts.each do |co| %>
			<tr>
				<td><%= co.restaurant_name %></td>
				<td><%= co.amount %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %> 

</div>

			
