<div align = "center">
	<% page_header 'Your Order History'%>
	<% if defined?(@tabs) %>
	<div class = "border-form-div" align="center" style="margin-top:-5px">
		<table class = "table table-bordered">
			<tr>
				<th>Restaurant</th>
				<th>Amount</th>
			</tr>
			<% @info.each do |info| %>
			<tr>
				<td><%= info[0] %></td>
				<td><%= info[1] %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %> 

</div>
