<h2>Round <%= cart.id %></h2>
 <table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<% defined?(with_confirm_order_button) or with_confirm_order_button = true %>
<% if (with_confirm_order_button) %>
  <%= button_to "Confirm Order", { :controller => "carts", :action => "add_to_order", :id => cart.id } %>
<% end %>
