<h2>Your tab <%= tab.user_id %> </h2>
<table>
  <% tab.carts.each do |cart| %>
    <tr>
      <td><%= render :partial => cart, :locals => {:with_buttons => false } %></td>
    </tr>
  <% end %>

  <tr>
    <td colspan="2"><strong>Total</strong></td>
    <td><strong><%= number_to_currency(tab.total_bill) %></strong></td>
  </tr>
</table>
