
<p id="notice"><%= notice %></p>


<% if owner_signed_in? %>
<div class="row">
    
    <h3 align = "left"> Restaurants </h3>
  
    <div align="right">
      <%= button_to "Add Restaurant", new_restaurant_path, :method => "get", :class => " btn btn-default" %>
    </div>
</div>
<% end %>


<br>


<hr/>


<div class = "row">
  <div class="col-xs-6 col-md-4">
    <% @restaurants.each do |r| %>
    <p><%= link_to r.name , r %></p>
    <%=image_tag r.image.url(:medium) %>
    <% end %>
  </div>

</div>



  


