
<!-- <p id="notice"><%= notice %></p>
<br/><br/><br/> -->


<div class="row">
	<% if owner_signed_in? %>
	<% page_header 'Your Restaurants'%>
	<div align="right">
		<%= button_to "Add Restaurant", new_restaurant_path, :method => "get", :class => " btn btn-default", :style =>"margin-top:-80px" %>
	</div>
	<% else %>
	<% page_header 'Restaurants'%>
	<% end %>
</div>

<div class = "row">
  <div class="col-xs-6 col-md-4">
    <% @restaurants.each do |r| %>
    <p><%= link_to r.name , r %></p>
    <%=image_tag r.image.url(:medium) %>
    <% end %>
  </div>

</div>



  


