
<p id="notice"><%= notice %></p>
<br/><br/><br/>

<% if owner_signed_in? %>
<div class="row" style="margin-top: 75px">
    <div align="right">
      <%= button_to "Add Restaurant", new_restaurant_path, :method => "get", :class => " btn btn-default" %>
    </div>
</div>
<% end %>


<br>

<h3> Restaurants </h3>
<hr/>


<div class = "row">
  <div class="col-xs-6 col-md-4">
    <% @restaurants.each do |r| %>
    <p><%= link_to r.name , r %></p>
    <%=image_tag r.image.url(:medium) %>
    <% end %>
  </div>

</div>



  


