
<!-- <p id="notice"><%= notice %></p>
<br/><br/><br/> -->


<div class="row">
	<% if owner_signed_in? %>
	<% page_header 'Your Restaurants'%>
	<div align="right">
		<%= button_to "Add Restaurant", new_restaurant_path, :method => "get", :class => " btn-custom btn", :style =>"margin-top:-120px" %>
	</div>
	<% else %>
	<% page_header 'Restaurants'%>
	<% end %>
</div>


<% counter = 0 %>
	<div class = "row">
	<% @restaurants.each do |r| %>
  	
    
    <% if counter % 3 == 0 and counter != 0 %>
    	</div>
    	<br>
    	<div class = "row">
    <% end %>	
    	
    	<div class="col-xs-6 col-md-4">
    			<p><%= link_to r.name , r, :class => "link", :style => "font-size: 150%" %></p>
    <%=image_tag r.image.url(:medium) %>
    	</div>
    <% counter = counter + 1%>
	<% end %>
	</div>





  


