<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@items) %>
  </tbody>
</table>

<br>
<% if owner_signed_in? %>
<%= link_to 'New Item', new_item_path %>
<% end %>
